<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de productos</h1>
    <ul>
        {{#each products}}
            <li>{{this.title}} - ${{this.price}}</li>
        {{else}}
            <li>No hay productos</li>
        {{/each}}
    </ul>
</body>
</html>